
@font-face {
  font-family: 'BerlinSansFB-Bold';
  src: url('BerlinSansFB-Bold.eot?#iefix') format('embedded-opentype'),  url('BerlinSansFB-Bold.woff') format('woff'), url('BerlinSansFB-Bold.ttf')  format('truetype'), url('BerlinSansFB-Bold.svg#BerlinSansFB-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
