@font-face {
    font-family: 'BerlinSansFB-Bold';
    src: url('../assets/fonts/BerlinSansFB-Bold.eot?#iefix') format('embedded-opentype'),  
        url('../assets/fonts/BerlinSansFB-Bold.woff') format('woff'), 
        url('../assets/fonts/BerlinSansFB-Bold.ttf')  format('truetype'), 
        url('../assets/fonts/BerlinSansFB-Bold.svg#BerlinSansFB-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BerlinSansFB-Reg';
    src: url('../assets/fonts/BerlinSansFB-Reg.eot?#iefix') format('embedded-opentype'),  
        url('../assets/fonts/BerlinSansFB-Reg.woff') format('woff'), 
        url('../assets/fonts/BerlinSansFB-Reg.ttf')  format('truetype'), 
        url('../assets/fonts/BerlinSansFB-Reg.svg#BerlinSansFB-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'conthraxsemibold';
    src: url('../assets/fonts/conthraxsemibold.ttf') format('truetype'),
         url('../assets/fonts/conthraxsemibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
