
@font-face {
  font-family: 'BerlinSansFBDemi-Bold';
  src: url('BerlinSansFBDemi-Bold.eot?#iefix') format('embedded-opentype'),  url('BerlinSansFBDemi-Bold.woff') format('woff'), url('BerlinSansFBDemi-Bold.ttf')  format('truetype'), url('BerlinSansFBDemi-Bold.svg#BerlinSansFBDemi-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
